### MISC

# macos, please just stop
.DS_Store

# editor/ide specific files
.vscode/


### KUBERNETES

**/kubernetes/main/apps/secret-management/**/charts/

# common secrets, try not to leak them :)
1password-credentials.json
1password-credentials.*.json
1password-access-token.txt



